body{
    background-color: #000000;
}

.mainBox{
    background-image: url('../assets/images/niclib_doors.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: none;
}
