

/*----- Tabs -----*/
		#search-wrapper {
			text-align:center;
			position:relative;
			max-width:100%;
			margin:auto;
			width:/*875px*/ 100%;
			height: 100%;
			font-family: "Source Sans Pro","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
			letter-spacing: 0.02rem;
			text-shadow: 1px 1px #000000;
			background-color: rgba(0,0,0,.4);
			color: #000000;
			padding: 0 1.071428571428571em;
		}

		.tabs {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			display: inline-block;
			width: 100%;
			margin: 2.142857142857143em auto;
			padding: 0px auto;
			text-align: center;
			height: 92px;
			top: 0;
			vertical-align: middle;
			/*color: #FFFFFF;*/
		}

/*----- Tab Links -----*/
/* Clearfix */
		.tab-links:after {
			display:block;
			clear:both;
			content:'';
		}

		.tab-links h2 {
			margin:0px 5px;
			list-style:none;
			display:inline-block;
			text-decoration:none;
			/*color:#FFFFFF;*/
		}

        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            font-size:16px;
            font-weight:600;
            transition:all linear 0.15s;
            text-decoration:none;
			color: rgb(0, 0, 0);
		}

		.tab-links a.selected h2 {
		   color: #F57920; /*same as the buttons*/
		}

        .tab-links h2 {
			font-size:2.4em;
		}

        .tab-label {
			font-size: 16px;
			text-decoration: none;
			margin: 5px 0;
			font-family: "Source Sans Pro","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
			/*color: #FFFFFF;*/
		}

/*----- Content of Tabs -----*/
		.tab-content {
			border-radius:3px;
			text-align:center;
			margin-top: 50px;
		}

        .tab {
            display:none;
		}

        .tab.active {
            display:block;
		}

/*----- Search Boxes -----*/
		.searchTerm {
			position: relative;
		}

		.searchTerm input{
			/*color: #000000;*/
		}

		#search h3 {
			font-size: 13pt;
			width: 95%;
			margin: 5px auto;
			text-align: left;
			font-family: sans-serif;
			font-weight: bold;
		}

		input.searchbox {
			display: inline;
			-webkit-appearance: none;
			vertical-align: middle;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			height: 40px;
			width: 70%;
			padding-left: .6rem;
			padding-right: 8px;
			font-size: 16px;
			font-size: 1.6em;
			margin: 10px auto;
			border: 0;
			outline: 2px solid #F57920;
			float:left;
		}

		button.headersubmit {
			display: inline;
			-webkit-appearance: none;
			/*vertical-align: middle;*/
			height: 40px;
			width: 44px;
			margin-top: 10px;
			padding:0;
			border: 0;
			background-color: #F57920;
			color: #ffffff;
			font-size: 2.2em;
			font-family: 'FontAwesome', sans-serif;
			cursor: pointer;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
			float: right;
		}

		select.dropdown-menu {
        display: inline;
        -webkit-appearance: none;
        vertical-align: middle;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 20%;
        background-color: #FFFFFF;
        padding: 5px;
        font-size: 14px;
        border: 2px solid #F57920;
        border-radius: 0;
        height: 40px;
		margin: 10px;
		margin-left: 591px;
		cursor: pointer;
        font-family: "Source Sans Pro","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
		/*color: #000000;*/
		}

		a#advanced-search {
			float:right;
			line-height: 0;
			color: #000000;
			text-decoration: underline;
			font-weight: bold;
			font-size: 11pt;
			text-align: right;
			font-family: sans-serif;
		}

/*AU styling additions*/
		.tab-links{
			margin-top: -1em;
		}

		#realquery{
			font-size: 12pt;
		}

		.windowForm{
			margin-bottom: 0;
		}
