/* Main design templates */
body{
    max-width: 100%;
    background-color: var(--au-white);
    font-size: 16pt;
}

a{
    color: var(--au-black);
    /*text-decoration: underline; -- Removed because the University doesn't use it */
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all .5s;
    transition: all .5s;
}

a:hover{
    color: var(--au-orange);
    text-decoration: none;
}

footer{
    margin-bottom: 1em;
    padding: 1em;
    border-top: .1em solid var(--au-orange);
    clear: both;
}

/* Classes */
.box{
    width: 50%;
    height: 20em;
    float: left
}

.box div:first-child{
    width: 100%;
    height: 100%;
}

.bottomBox{
    width: 100%;
    height: 15em;
    clear: both;
}

.buttonTitle{
    font-size: 3em;
    color: var(--au-white);
    text-shadow: 2px 2px #000000;
}

.content{
    margin: 1em auto;
}

.contentImage{
    margin: 1em auto;
}

.contentList{
    margin: 1em auto;
}

.contentList dt{
    border: 1px solid rgba(195, 207, 220, 0.7);
    padding: 2em;
    background-color: rgba(195, 207, 220, 0.2);
}

.contentList dd{
    display: none;
}

.contentList dd.active{
    display: initial;
}

.contentList dd.active p{
    padding: 2em;
}

.contentTitle{
    font-weight: bold;
    font-size: 2em;
    color: var(--au-orange);
}

.expand-icon{
    color: rgba(195, 207, 220, 0.9);
    float: right;
    clear:both;
}

.footernav{
    margin-bottom: 1em;
}

.headerHours{
    font-size: .5em;
}

.left{
    margin-left: 5%;
    text-align:left;
    float: left;
}

.libSearch{
    background-image: url('../images/niclib_doors.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.mainBox{
    width: 100%;
    height: 40em;
}

.questionGroup{
    margin: 1em auto;
}

.right{
    margin-right: 5%;
    text-align: right;
    float: right;
}


/* IDs */
#databasesBox{
    background-image: url('../images/helios-morning-fog.jpg');
    background-size: cover;
    background-position: 0% 75%;
    background-repeat: no-repeat;
    padding: 2em;
}

#researchBox{
    background-image: url('../images/computer_use.jpg');
    background-size: cover;
    background-position: 100% 90%;
    background-repeat: no-repeat;
    padding: 2em;
}
