/* Main design templates */
body{
    max-width: 100%;
    background-color: var(--au-white);
}

a{
    color: var(--au-black);
    /*text-decoration: underline; -- Removed because the University doesn't use it */
    font-weight: bold;
    -webki-transition: all .5s;
    transition: all .5s;
}

a:hover{
    color: var(--au-orange);
    text-decoration: none;
}

footer{
    margin-bottom: 1em;
    clear: both;
}

/* Classes */
.box{
    width: 50%;
    height: 20em;
    border: 1px solid var(--au-black);
    float: left
}

.box div{
    width: 100%;
    height: 100%;
}

.bottomBox{
    width: 100%;
    height: 15em;
    margin-bottom: 1em;
    clear: both;
}

.headerHours{
    font-size: .75em;
}

.left{
    margin-left: 5%;
    text-align:left;
    float: left;
}

.mainBox{
    width: 100%;
    height: 40em;
}

.libSearch{
    background-image: url('../assets/images/niclib_doors.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: none;
}

.right{
    margin-right: 5%;
    text-align: right;
    float: right;
}
