@media screen and (max-width: 1790px){
    .main-menu{
        margin-left: 36%
    }
}

@media screen and (max-width: 1680px){
    .main-menu{
        margin-left: 30%;
    }
}

@media screen and (max-width: 1540px){
    .main-menu{
        margin-left: 25%;
    }
}

@media screen and (max-width: 1440px){
    .main-menu{
        margin-left: 20%;
    }
}

@media screen and (max-width: 1351px){
    .main-menu{
        margin-left: 15%;
    }
}

@media screen and (max-width: 1274px){
    .main-menu{
        margin-left: 10%;
    }
}

@media screen and (max-width: 1205px){
    .main-menu{
        margin-left: 5%;
    }
}

@media screen and (max-width: 1170px){
    .tab-links a {
        padding: 9px 10px;
    }
}

@media screen and (max-width: 1143px){
    .main-menu{
        margin-left: 3%;
    }
}

@media screen and (max-width: 1141px) {
    .box {
        width: 100%;
    }
}

@media screen and (max-width: 1130px){
    .tab-links a{
        padding: 9px 5px;
    }
}

@media screen and (max-width: 1119px){
    .main-menu{
        margin-left: 0;
    }
}

@media screen and (max-width: 1090px){
    .tab-links a{
        margin: auto 5%;
    }
}

@media screen and (max-width: 1087px){
    .nav-link{
        padding: .5rem .5rem;
    }
}

@media screen and (max-width: 1023px){
    .nav-link{
        padding: .5rem .25rem;
    }
}

@media screen and (max-width: 1015px){
    .searchScope{
        width: 100%;
        height: 3em;
        margin: 1em auto;
    }

    .searchSubmit{
        width: 100%;
        height: 3em;
        margin: 1em auto;
    }

    .searchTerm{
        width: 100%;
        height: 3em;
        margin: 1em auto;
    }

    .tab-links a{
        padding: 9px 5px;
    }
}

@media screen and (max-width: 991px){
    .main-menu{
        display: none;
    }

    .mobile-menu{
        display: block;
    }
}

@media screen and (max-width: 986px){
    .searchLinks{
        display: none;
    }
}

@media screen and (max-width: 975px){
    .tab-links a {
        margin: auto 4%;
    }
}

@media screen and (max-width: 786px){
    .tab-links a{
        margin: auto 3%;
    }
}

@media screen and (max-width: 761px){
    .tab-links a{
        margin: auto 1%;
    }
}

@media screen and (max-width: 717px){
    .tab-label{
        font-size: .75em;
    }
}

@media screen and (max-width: 640px){
    .footernav{
        text-align: center;
    }

    .footernav.left, .footernav.right{
        margin: 1em auto;
        float: none;
    }
}
@media screen and (max-width: 603px){
    .tab-links h2{
        font-size: 2em;
    }
}

@media screen and (max-width: 512px){
    .contentContact{
        text-align: center;
    }

    .contentContact img{
        margin: auto 50%;
    }

    .contentContact .staff-info{
        margin: 1em auto;
        padding: 0;
        clear: both;
        float: none;
    }
}

@media screen and (max-width: 534px){
    .tab-content{
        margin-top: -14em;
    }
}
