.tab-links {
	display:block;
	clear:both;
	content:'';
}

.tab-links h2 {
	list-style:none;
	display:inline-block;
	text-decoration:none;
	font-size:2.4em;
}

.tab-links a {
	padding:9px 15px;
	display:inline-block;
	border-radius:3px 3px 0px 0px;
	font-size:1em;
	transition:all linear 0.15s;
	text-decoration:none;
	color: var(--au-white);
}

.tab-links a.selected h2 {
   color: var(--au-orange);
}

.tabs {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	padding: 4em;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(0, 0, 0, .4); /*Allows for darker shade on background image*/
	max-height: 100%;
}
